<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="article-card-styler.html">
<dom-module id="article-card">
  <template id="card">
    <custom-style>
      <style media="screen" is="custom-style" include="article-card-styler"></style>
    </custom-style>
    <div id="article-card-layout" class="article-card-layout">
      <article class="container">
        <section class="header">
          <div class="breathe"></div>
          <h2 class="title">{{project.title}}</h2>
          <div class="breathe"></div>
          <template is="dom-if" if="{{!project.featured}}">
            <div class="cover-image responsive-cover-image">
              <figure>
                <picture>
                  <source
                    srcset="{{project.coverImg.src}}-medium.{{project.coverImg.format}} 600w,
{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w,
{{project.coverImg.src}}-small.{{project.coverImg.format}} 480w"
                    media="(max-width:764px)"
                    sizes="99.99vw">
                  <source
                    srcset="{{project.coverImg.src}}-medium.{{project.coverImg.format}} 640w,
{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w,
{{project.coverImg.src}}-x-large.{{project.coverImg.format}} 1280w"
                    media="(min-width:765px)"
                    sizes="calc((90vw - 1em) / 2)">
                  <source
                    srcset="{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w,
{{project.coverImg.src}}-xx-large.{{project.coverImg.format}} 1600w,
{{project.coverImg.src}}-x-large.{{project.coverImg.format}} 1280w"
                    media="(min-width:1280px)"
                    sizes="calc((90vw) / 3)">
                  <img class="responsive-cover-image-portrait" src="{{project.coverImg.src}}-small.{{project.coverImg.format}}" alt="Project {{project.title}} cover image">
                </picture>
              </figure>
            </div>
          </template>
          <template is="dom-if" if="{{project.featured}}">
            <div class="cover-image">
              <figure>
                <picture>
                  <source
                    srcset="{{project.coverImg.src}}-medium.{{project.coverImg.format}} 600w,
{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w,
{{project.coverImg.src}}-small.{{project.coverImg.format}} 480w"
                    media="(max-width:764px)"
                    sizes="100vw">
                  <source
                    srcset="{{project.coverImg.src}}-medium.{{project.coverImg.format}} 640w,
{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w,
{{project.coverImg.src}}-x-large.{{project.coverImg.format}} 1280w"
                    media="(min-width:765px)"
                    sizes="100vw">
                  <source
                    srcset="{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w,
{{project.coverImg.src}}-xx-large.{{project.coverImg.format}} 1600w,
{{project.coverImg.src}}-x-large.{{project.coverImg.format}} 1280w"
                    media="(min-width:1280px)"
                    sizes="100vw">
                  <img src="{{project.coverImg.src}}-small.{{project.coverImg.format}}" alt="Project {{project.title}} cover image">
                </picture>
              </figure>
            </div>
          </template>
          <!-- <div class="breathe"></div> -->
        </section>
        <section class="main">
          <div class="breathe"></div>
          <div class="brief-description">
            {{project.description}}
          </div>
          <div class="breathe"></div>
        </section>
        <section class="footer">
          <div class="article-panel">
            <h4 class="github-link">
              <a class="github-link-anchor" target="_blank" href="{{project.meta.github}}"></a>
            </h4>
            <h4 class="article-info">
              <a class="article-info-anchor" on-click="modalize"></a>
            </h4>
          </div>
          <div id="breathe" class="breathe"></div>
        </section>
      </article>
    </div>
    <div class="modal-layout">
      <section class="modals">
        <paper-dialog class="modal-dialog" id="[[pmid]]" allowclickthrough="allowClickThrough">
          <section class="modal-actions">
            <div class="action-panel">
              <paper-button class="dismiss-modal" raised="raised" autofocus="autofocus" dialog-dismiss="dialog-dismiss">
                <span>close</span>
              </paper-button>
            </div>
          </section>
          <section class="modal-header">
            <h2 class="modal-title">{{project.title}}</h2>
          </section>
          <paper-dialog-scrollable class="scrollable-dialog">
            <section class="modal-main">
              <div class="modal-cover">
                <figure>
                  <picture>
                    <source
                      srcset="{{project.coverImg.src}}-medium.{{project.coverImg.format}} 600w, {{project.coverImg.src}}-large.{{project.coverImg.format}} 960w, {{project.coverImg.src}}-small.{{project.coverImg.format}} 480w"
                      media="(max-width:764px)"
                      sizes="100vw">
                    <source
                      srcset="{{project.coverImg.src}}-medium.{{project.coverImg.format}} 640w, {{project.coverImg.src}}-large.{{project.coverImg.format}} 960w, {{project.coverImg.src}}-x-large.{{project.coverImg.format}}
1280w"
                      media="(min-width:765px)"
                      sizes="calc((.59) * 90%)">
                    <source
                      srcset="{{project.coverImg.src}}-large.{{project.coverImg.format}} 960w, {{project.coverImg.src}}-xx-large.{{project.coverImg.format}} 1600w,
{{project.coverImg.src}}-x-large.{{project.coverImg.format}} 1280w"
                      media="(min-width:999px)"
                      sizes="calc(.67*90%)">
                    <img class="modal-cover-img" src="{{project.coverImg.src}}-small.{{project.coverImg.format}}" alt="{{project.title}} cover image">
                  </picture>
                  <figcaption>{{project.coverImg.caption}}</figcaption>
                </figure>
              </div>
              <div class="modal-detailed-description">{{project.description}}</div>
            </section>
          </paper-dialog-scrollable>
          <section class="modal-footer"></section>
        </paper-dialog>
      </section>
    </div>
  </template>
  <script>
    class articleCard extends Polymer.Element {

      constructor(project) {
        super();
        this.setAttribute('unresolved', 'unresolved');
        this.project = project;
      }
      static get is() {
        return 'article-card';
      }
      static get properties() {
        return {
          project: {
            type: Object,
            value: {
              title: "Project Felix",
              description: `Felix the Cat is a funny-animal cartoon character created in the silent film era. The anthropomorphic black cat with his black body, white eyes, and giant grin, coupled with the surrealism of the situations in which his cartoons place him, combine to make Felix one of the most recognized cartoon characters in film history. Felix was the first character from animation to attain a level of popularity sufficient to draw movie audiences.[1][2]
Felix's origins remain disputed.`,
              coverImg: {
                src: "./bundle/responsive-assets/jpegs/cat",
                format: "jpg",
                caption: ""
              },
              featured: true,
              meta: {
                skills: [],
                beginDate: "",
                endDate: "",
                liveAt: "",
                github: "https://www.github.com/udacity"
              }
            }
          },
          pmid: {
            type: String,
            computed: 'getPMID(project.title)',
            notify: true
          },
          bgSrc: {
            type: String,
            computed: 'deriveBGSRC(project)'
          }
        };
      }
      getPMID(title) {
        let t = title.replace(/\s/g, '');
        t = t.toLowerCase();
        let r = Date.now();
        return (t + r);
      }
      deriveBGSRC(project) {
        let strSrc;
        strSrc = `url("${project.coverImg.src}-large.${project.coverImg.format}")`;
        return strSrc;
      }
      ready() {
        super.ready();
        this.removeAttribute('unresolved');

      }
      modalize(e) {
        // let t = e.target.getAttribute('name');
        this.root.querySelector("#" + this.pmid).open();
      }
    }
    window.customElements.define(articleCard.is, articleCard);
  </script>
</dom-module>