* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Raleway", Helvetica, sans-serif;
}

canvas,
embed,
figure,
iframe,
img,
picture,
video {
  max-width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
}

footer,
header {
  display: flex;
  flex-wrap: wrap;
  background: #111010;
}

footer {
  color: #f4f8fb;
  font-size: large;
  justify-content: center;
  align-items: center;
}

.contact,
.credits,
.misc {
  font-family: "Quicksand",sans-serif;
  width: 100%;
  line-height: 1.5;
  font-size: larger;
}

.contact {
  order: 2;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  align-items: center;
  text-align: center;
}

.misc {
  order: 1;
  text-align: center;
  padding: 1em;
}

.credits {
  order: 3;
  text-align: center;
  padding: 1em;
  font-variant-caps: petite-caps;
  font-family: "Quicksand",sans-serif;
}

.order0 {
  order: 0;
}

.order4 {
  order: 4;
}

.contact-icons,
.contact-icons:hover,
.contact-icons:visited,
.credit-source,
.credit-source:hover,
.credit-source:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.credit-source:hover {
  color: #d0d0d0;
}

.contact-icons {
  display: inline-block;
  cursor: pointer;
}

.contact-icons:hover {
  color: #d0d0d0;
}

.emphasize,
.references {
  font-family: "Cinzel Decorative", Helvetica, sans-serif;
  font-size: smaller;
  padding: 0.3em;
}

.emphasize {
  font-style: oblique;
}

.brief {
  font-family: "Quicksand",sans-serif;
  font-weight: lighter;
  font-size: small;
  line-height: 1.5;
}

sup {
  width: auto;
  font-family: "Cinzel Decorative", Helvetica, sans-serif;
}

.breathe {
  width: 100%;
  font-size: x-large;
  line-height: 3;
}

.breathe::after,
.breathe::before {
  content: "\00A0";
}

.pad-top {
  padding: 1em 0 0;
}

.pad-right {
  padding: 0 1em 0 0;
}

.pad-bottom {
  padding: 0 0 1em;
}

.pad-left {
  padding: 0 0 0 1em;
}

.pad-x {
  padding: 0 1em;
}

.pad-y {
  padding: 1em 0;
}

.pad-even {
  padding: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", Helvetica, sans-serif;
}

.logo,
.name {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.display-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #dfdedd;
  opacity: 0.59;
}

.barcode {
  width: auto;
  font-family: "Libre Barcode 39 Extended", Helvetica, sans-serif;
  font-size: 5em;
}

.dp-as-text {
  width: auto;
  font-family: "Cinzel Decorative", Helvetica, sans-serif;
  margin: -0.6em 0 0;
  font-size: 3.75em;
}

.barcode,
.dp-as-text {
  text-align: center;
  /*text-rendering: geometricPrecision;*/
  font-weight: lighter;
}

.display-card {
  color: #dfdedd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.full-name {
  width: auto;
  text-align: center;
  text-transform: capitalize;
  font-variant-caps: petite-caps;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.superpower {
  text-align: center;
  width: auto;
  font-variant-caps: petite-caps;
  text-shadow: 0.25px 0.25px 0 #d0d0d0;
  font-family: "Cinzel Decorative", cursive, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 1.5em;
}

.container {
  /*box-shadow: 0 0 10px 0 #333;*/
  margin: 0;
  background-color: transparent;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.article-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.project-card {
  width: 100%;
  padding: 0.5em;
}

article-card[unresolved] {
  box-shadow: 0 0 10px 0 #333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100px;
  min-width: 100%;
}

.project-card:first-of-type {
  width: 100%;
  margin: auto;
}